<form action="/upload" enctype="multipart/form-data" method="post">
    title: <input type="text" name="title"><br>
    <input type="file" multiple="multiple" name="upload"><br>
    <input type="submit" value="Upload">
</form>
